.dna-1-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 76.57px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  .k {
    margin: 0;
    height: 105px;
    width: 91px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transform: rotate(0.89deg);
    z-index: 1;
  }
  .k,
  .k-text,
  .s {
    display: flex;
  }
  .s {
    margin: 0 !important;
    height: 140px;
    width: 155px;
    position: absolute;
    right: -6.6px;
    bottom: -9px;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .k-text {
    height: 201px;
    width: 222.4px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17.30000000000001px 13.599999999999907px var(--padding-mid);
    box-sizing: border-box;
    position: relative;
  }
  .about-us {
    white-space: nowrap;
  }
  .about-us,
  .contacts,
  .experiments {
    position: relative;
    font-weight: 500;
  }
  .anyquestionorremarks-text,
  .contact-frame {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .contact-frame {
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    gap: 0 51px;
    text-align: left;
    font-size: var(--font-size-16xl);
    color: var(--color-gray-100);
    font-family: var(--font-inter);
  }
  .anyquestionorremarks-text {
    width: 674.4px;
    flex-direction: column;
    padding: 52px 0 0;
  }
  .login {
    position: relative;
    font-size: var(--font-size-16xl);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-whitesmoke);
    text-align: left;
  }
  .about-us-contacts-frames,
  .login-frames {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about-us-contacts-frames {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-darkblue);
    border-radius: var(--br-xl);
    flex-direction: row;
  }
  .about-us-contacts-frames:hover,
  .sign-up-wrapper:hover {
    background-color: var(--color-royalblue);
  }
  .login-frames {
    width: 183.4px;
    flex-direction: column;
    padding: var(--padding-19xl) 0 0;
    box-sizing: border-box;
  }
  .sign-up {
    position: relative;
    font-size: var(--font-size-16xl);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-whitesmoke);
    text-align: left;
  }
  .login-frames1,
  .navigation,
  .sign-up-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sign-up-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-xl);
    background-color: var(--color-darkblue);
    border-radius: var(--br-xl);
    flex-direction: row;
    white-space: nowrap;
  }
  .login-frames1,
  .navigation {
    flex-direction: column;
    padding: var(--padding-19xl) 0 0;
  }
  .navigation {
    align-self: stretch;
    background-color: #cb82bb;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-mid) var(--padding-3xs) var(--padding-xs);
    box-sizing: border-box;
    gap: 0 37.6px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-46xl);
    color: var(--color-gray-100);
    font-family: var(--font-italianno);
  }
  .contact-us,
  .startyourjourneyinscience-text {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .contact-us {
    margin: 0;
    height: 234.8px;
    width: 759.8px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    align-items: center;
    flex-shrink: 0;
  }
  .startyourjourneyinscience-text {
    width: 1333.8px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-xl) var(--padding-xs);
    box-sizing: border-box;
    text-align: center;
    font-size: 82px;
    color: var(--color-gray-200);
    font-family: var(--body);
  }
  .any-question-or {
    width: 473px;
    position: relative;
    font-weight: 500;
    align-items: center;
    flex-shrink: 0;
  }
  .any-question-or,
  .contact,
  .saysomethingtostartalivechat-t {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .saysomethingtostartalivechat-t {
    width: 1309px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    flex-shrink: 0;
  }
  .contact {
    margin: 0;
    height: 400px;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
    align-items: center;
  }
  .bxsphone-call-icon {
    height: 74.8px;
    width: 74.4px;
    position: absolute;
    margin: 0 !important;
    bottom: -61.8px;
    left: 648px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .line-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
  }
  .a-text,
  .say-something-to {
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
  }
  .say-something-to {
    height: 162px;
    position: relative;
    font-size: 46px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: -165px;
  }
  .a-text {
    margin-top: -79px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .phone-icon,
  .text-area {
    display: flex;
    justify-content: center;
  }
  .phone-icon {
    height: 56.1px;
    width: 276px;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .text-area {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-xl);
  }
  .backdrop-rectangle-icon {
    position: absolute;
    width: calc(100% - 16.5px);
    top: 23.2px;
    right: 8.3px;
    left: 8.2px;
    max-width: 100%;
    overflow: hidden;
    height: 54.4px;
    z-index: 1;
  }
  .icsharp-email {
    height: 80px;
    width: 98.9px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .vector-line {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .demogmailcom,
  .email-icon,
  .vector-line {
    align-self: stretch;
    display: flex;
  }
  .demogmailcom {
    height: 76px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .email-icon {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 22.399999999999864px;
    font-size: var(--font-size-22xl);
  }
  .dna-rectangle-icon {
    height: 75.5px;
    width: 55px;
    position: relative;
  }
  .student-achievements-text {
    width: 484.6px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .dartmouth-street-boston {
    align-self: stretch;
    height: 105.1px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .about-us-experiments-text {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 5.9px 0;
  }
  .about-us-experiments-text,
  .input-frame,
  .social-media-text {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .social-media-text {
    width: 638px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 69px;
    box-sizing: border-box;
    font-size: var(--font-size-10xl);
  }
  .input-frame {
    width: 672px;
    flex-direction: column;
    align-items: flex-end;
    gap: 21.1px 0;
  }
  .live-chat-frame {
    width: 1370px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 0;
    font-size: var(--font-size-13xl);
  }
  .dartmouth-street-boston-massac,
  .frame-contact-us {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .dartmouth-street-boston-massac {
    height: 878px;
    background-color: var(--color-plum-100);
    overflow: hidden;
    flex-shrink: 0;
    padding: 0 0 32px;
    box-sizing: border-box;
    gap: 61.8px 0;
    font-size: 101px;
    color: var(--color-black);
  }
  .frame-contact-us {
    gap: 99.3px 0;
    text-align: center;
    font-size: 45px;
    color: var(--color-gray-200);
    font-family: var(--body);
  }
  .dna-1-icon1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 76.57px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
  }
  .k1,
  .s1 {
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .k1 {
    margin: 0;
    height: 105px;
    width: 91px;
    position: relative;
    flex-shrink: 0;
    transform: rotate(0.89deg);
    z-index: 2;
  }
  .s1 {
    margin: 0 !important;
    height: 140px;
    width: 155px;
    position: absolute;
    right: 601.4px;
    bottom: -9px;
    z-index: 3;
  }
  .dna-info,
  .experiments-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .dna-info {
    width: 222.4px;
    justify-content: flex-start;
    padding: 17.299999999999955px 13.600000000000364px var(--padding-mid);
    position: relative;
  }
  .experiments-frame {
    height: 201px;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .start-your-journy {
    align-self: stretch;
    position: relative;
    font-size: 40px;
    font-family: var(--font-source-serif-pro);
    color: var(--color-black);
  }
  .frame-with-texts {
    width: 1246px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50.5px 0;
    max-width: 100%;
  }
  .charlottesville-california-44,
  .market-st-22b {
    margin: 0;
  }
  .a {
    align-self: stretch;
    height: 80.8px;
    position: relative;
    line-height: 36px;
    display: inline-block;
    flex-shrink: 0;
  }
  .contact-k-sagencycom {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 22px;
  }
  .dartmouth-street-text {
    position: absolute;
    top: 23px;
    left: 0;
    background-color: var(--lift-blue);
    border-top: 1px solid var(--lift-blue);
    box-sizing: border-box;
    width: 107px;
    height: 1px;
  }
  .about-us-exp-student-text {
    width: 107px;
    height: 23px;
    position: relative;
  }
  .com1 {
    text-decoration: underline;
  }
  .com {
    color: inherit;
  }
  .contactksagencycom {
    position: relative;
    line-height: 22px;
    white-space: nowrap;
  }
  .facebook-twitter-linkedin-inst {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1px;
  }
  .start-journey-text-child {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--lift-blue);
    border-top: 1px solid var(--lift-blue);
    box-sizing: border-box;
  }
  .start-journey-text {
    align-self: stretch;
    height: 23px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px 0;
  }
  .facebook-text {
    width: 185px;
    gap: 26px 0;
    font-size: var(--body-size);
    font-family: var(--body);
  }
  .a-text1,
  .facebook-text,
  .line-segment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .line-segment {
    align-self: stretch;
    gap: 179.2px 0;
  }
  .a-text1 {
    width: 307px;
    padding: 30.59999999999991px 0 0;
    box-sizing: border-box;
    min-width: 307px;
  }
  .facebook,
  .linkedin,
  .twitter {
    margin-block-start: 0;
    margin-block-end: 10px;
  }
  .instagram {
    margin: 0;
  }
  .facebook-twitter-linkedin-container {
    flex: 1;
    position: relative;
    font-size: var(--font-size-17xl);
    letter-spacing: 0.06em;
    line-height: 72px;
    display: inline-block;
    font-family: var(--body);
    color: rgba(9, 20, 47, 0.75);
    text-align: center;
    min-width: 168px;
    max-width: 100%;
    z-index: 1;
  }
  .contact-us-text {
    width: 791px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 84px;
    min-width: 791px;
    max-width: 100%;
  }
  .about-us1,
  .blank-line,
  .blank-line1,
  .blank-line2,
  .blank-line3,
  .blank-line4,
  .blank-line5,
  .experiments1,
  .student-achivments,
  .teachers {
    margin: 0;
  }
  .about-us-experiments-container {
    align-self: stretch;
    height: 305.5px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .contact-info-frame,
  .experiments-frame1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .contact-info-frame {
    width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 9.099999999999907px 0 0;
    box-sizing: border-box;
    min-width: 400px;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-source-serif-pro);
  }
  .experiments-frame1 {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .about-us-frame {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-3xs);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--dark);
    font-family: var(--font-jost);
  }
  .about-us-frame,
  .content-frame,
  .start-frame {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .content-frame {
    width: 1294px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 104.7px 0;
  }
  .start-frame {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 47px;
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-46xl);
    color: var(--color-gray-100);
    font-family: var(--font-italianno);
  }
  .contact-us-rectangle,
  .desktop-12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-us-rectangle {
    align-self: stretch;
    gap: 60px 0;
    max-width: 100%;
  }
  .desktop-12 {
    width: 100%;
    position: relative;
    background-color: var(--color-plum-100);
    overflow: hidden;
    padding: 0 0 172px;
    box-sizing: border-box;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1325px) {
    .contact-info-frame,
    .contact-us-text {
      flex: 1;
    }
    .experiments-frame1 {
      flex-wrap: wrap;
    }
    .start-frame {
      padding-left: var(--padding-4xl);
      padding-right: var(--padding-4xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1125px) {
    .contact-us-text {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    .contact-frame {
      gap: 0 25px;
    }
    .anyquestionorremarks-text {
      display: none;
    }
    .login {
      font-size: var(--font-size-9xl);
    }
    .navigation {
      gap: 0 19px;
    }
    .contact-us {
      font-size: var(--font-size-22xl);
    }
    .any-question-or {
      font-size: var(--font-size-17xl);
    }
    .contact {
      font-size: 50px;
    }
    .say-something-to {
      font-size: 37px;
    }
    .phone-icon {
      font-size: 26px;
    }
    .demogmailcom {
      font-size: 33px;
    }
    .social-media-text {
      padding-left: var(--padding-15xl);
      padding-right: var(--padding-15xl);
      box-sizing: border-box;
    }
    .dartmouth-street-boston-massac {
      gap: 31px 0;
    }
    .frame-contact-us {
      gap: 50px 0;
    }
    .k1,
    .s1 {
      font-size: var(--font-size-33xl);
    }
    .start-your-journy {
      font-size: var(--font-size-13xl);
    }
    .frame-with-texts {
      gap: 25px 0;
    }
    .a-text1 {
      flex: 1;
    }
    .facebook-twitter-linkedin-container {
      font-size: var(--font-size-10xl);
      line-height: 58px;
    }
    .contact-us-text {
      flex-wrap: wrap;
      gap: 0 42px;
    }
    .about-us-experiments-container {
      font-size: var(--font-size-10xl);
    }
    .contact-info-frame {
      min-width: 100%;
    }
    .content-frame {
      gap: 52px 0;
    }
    .contact-us-rectangle {
      gap: 30px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .login {
      font-size: 21px;
    }
    .contact-us {
      font-size: var(--font-size-6xl);
    }
    .any-question-or {
      font-size: 27px;
    }
    .contact {
      font-size: 30px;
    }
    .say-something-to {
      font-size: var(--font-size-9xl);
    }
    .phone-icon {
      font-size: 19px;
    }
    .demogmailcom {
      font-size: var(--font-size-6xl);
    }
    .dartmouth-street-boston {
      font-size: 23px;
    }
    .dartmouth-street-boston-massac {
      gap: 15px 0;
    }
    .frame-contact-us {
      gap: 25px 0;
    }
    .k1,
    .s1 {
      font-size: var(--font-size-20xl);
    }
    .start-your-journy {
      font-size: 24px;
    }
    .a {
      font-size: var(--font-size-3xl);
      line-height: 29px;
    }
    .line-segment {
      gap: 90px 0;
    }
    .facebook-twitter-linkedin-container {
      font-size: var(--font-size-3xl);
      line-height: 43px;
    }
    .contact-us-text {
      gap: 0 21px;
    }
    .about-us-experiments-container {
      font-size: var(--font-size-3xl);
    }
    .content-frame {
      gap: 26px 0;
    }
  }


  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-source-serif-pro: "Source Serif Pro";
    --body: Poppins;
    --font-jost: Jost;
    --font-italianno: Italianno;
    --font-inter: Inter;
    --font-lateef: Lateef;
    --font-rubik: Rubik;
  
    /* font sizes */
    --font-size-17xl: 36px;
    --font-size-10xl: 29px;
    --font-size-3xl: 22px;
    --body-size: 14px;
    --font-size-9xl: 28px;
    --font-size-21xl: 40px;
    --font-size-13xl: 32px;
    --font-size-5xl: 24px;
    --font-size-46xl: 65px;
    --font-size-33xl: 52px;
    --font-size-20xl: 39px;
    --font-size-22xl: 41px;
    --font-size-6xl: 25px;
    --font-size-7xl: 26px;
    --font-size-lgi: 19px;
    --font-size-31xl: 50px;
    --font-size-11xl: 30px;
    --font-size-26xl: 45px;
    --font-size-8xl: 27px;
    --font-size-16xl: 35px;
    --font-size-2xl: 21px;
    --font-size-lg: 18px;
    --font-size-77xl: 96px;
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-25xl: 44px;
  
    /* Colors */
    --color-plum-100: #ebafe9;
    --color-plum-200: #cb82bb;
    --color-black: #000;
    --color-gray-200: #342323;
    --color-gray-100: #1c1a1a;
    --dark: #09142f;
    --color-gray-300: rgba(9, 20, 47, 0.75);
    --lift-blue: #0081fe;
    --color-darkblue: #2736b8;
    --color-royalblue-100: #5e6beb;
    --color-royalblue: #4d5cde;
    --color-whitesmoke: #eee8e8;
    --color-blueviolet: #8f36ff;
    --color-orchid: #a947a5;
    --color-slateblue: #3846c5;
    --color-white: #fff;
    --color-gainsboro: #d9d9d9;
  
    /* Gaps */
    --gap-85xl-7: 104.7px;
    --gap-33xl: 52px;
    --gap-7xl: 26px;
    --gap-xl: 20px;
    --gap-0: 0px;
    --gap-160xl-2: 179.2px;
    --gap-71xl: 90px;
    --gap-12xs: 1px;
    --gap-22xl-5: 41.5px;
    --gap-2xl: 21px;
    --gap-17xl: 36px;
    --gap-lg: 18px;
    --gap-13xl: 32px;
    --gap-26xl: 45px;
    --gap-3xl: 22px;
    --gap-mid: 17px;
    --gap-base: 16px;
    --gap-6xl: 25px;
    --gap-82xl-7: 101.7px;
    --gap-32xl: 51px;
    --gap-163xl-4: 182.4px;
    --gap-72xl: 91px;
    --gap-31xl-5: 50.5px;
    --gap-9xl: 28px;
    --gap-14xl: 33px;
    --gap-35xl: 54px;
    --gap-8xl: 27px;
    --gap-21xl: 40px;
  
    /* Paddings */
    --padding-153xl: 172px;
    --padding-28xl: 47px;
    --padding-4xl: 23px;
    --padding-3xs-1: 9.1px;
    --padding-11xl-6: 30.6px;
    --padding-12xs: 1px;
    --padding-xl: 20px;
    --padding-489xl: 508px;
    --padding-108xl: 127px;
    --padding-235xl: 254px;
    --padding-mid-3: 17.3px;
    --padding-sm-6: 13.6px;
    --padding-mid: 17px;
    --padding-15xl: 34px;
    --padding-3xs: 10px;
    --padding-xs: 12px;
    --padding-19xl: 38px;
    --padding-33xl: 52px;
    --padding-147xl: 166px;
    --padding-61xl: 80px;
    --padding-21xl: 40px;
    --padding-4xs: 9px;
    --padding-14xl: 33px;
    --padding-9xs: 4px;
    --padding-5xl: 24px;
    --padding-18xl: 37px;
    --padding-sm: 14px;
    --padding-lgi: 19px;
    --padding-2xl: 21px;
    --padding-30xl: 49px;
    --padding-11xl-9: 30.9px;
    --padding-7xl: 26px;
    --padding-56xl: 75px;
    --padding-8xs: 5px;
    --padding-76xl: 95px;
    --padding-43xl: 62px;
    --padding-6xs: 7px;
    --padding-6xl: 25px;
    --padding-smi: 13px;
    --padding-48xl: 67px;
  
    /* Border radiuses */
    --br-57xl-6: 76.6px;
    --br-xl: 20px;
    --br-51xl: 70px;
    --br-46xl: 65px;
    --br-21xl: 40px;
    --br-6xl: 25px;
    --br-23xl: 42px;
    --br-7xl: 26px;
  }
  